<div class="container">
  <div class="tittle text-center">Testimonials of Our Clients</div>

  <div class="container_carusel">
    <div class="button_card btn_left">
      <mat-icon>chevron_left</mat-icon>
    </div>

    <app-testimonial-card></app-testimonial-card>
    <div class="box_backgound">
      <div class="container_circle">
        <div class="circle selected"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <div class="button_card btn_rigth">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
</div>
